.layout-container {
    display: flex;
    column-gap: 20px;
    .left-content {
        width: 15%;
    }
    .main-content {
        flex: 1;
        position: relative;
    }
    .right-content {
        width: 25%;
    }
}
.ant-spin-spinning.list-loading {
    z-index: 499;
}