.layout-container {
    display: flex;
    column-gap: 20px;
    .left-content {
        width: 15%;
    }
    .main-content {
        flex: 1;
        position: relative;
    }
    .right-content {
        width: 25%;
    }
}
.ant-spin-spinning.list-loading {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    background: aliceblue;
    z-index: 499;
}