.page-footer {
   position: relative;
   bottom: 0;
   background-color:#eee;
   display: grid;
   color: #2c3f52;
   width: 100%;
   img.logo {
      width: 100px;
      height: auto;
   }
   .column {
      padding: 20px;
      .row-info {
         display: flex;
         align-items: center;
         column-gap: 5px;
         .anticon {
            margin-right: 4px;
         }
      }
   }
   .copyright {
      width: 100%;
      color: white;
      opacity: .8;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #12406b;
      word-wrap: break-word;
      > a {
         color: white;
      }
      > a:hover {
         color: #5eabbc;
      }
      .small-logo {
         width: 30px;
         height: auto;
      }
   }
}
@media (min-width:767px) {
   .column {
      float: left;
      width: 50%;
   }
   .container:not(.copyright) {
      column-gap: 20px;
      padding: 0 50px;
   }
}