.page-footer {
   bottom: 0;
   background-color:#eee;
   display: grid;
   color: #2c3f52;
   width: 100%;
   img.logo {
      width: 100px;
      height: auto;
   }
   .container:not(.copyright) {
      padding: 20px;
   }
   .column {
      .row-info {
         display: flex;
         align-items: center;
         column-gap: 5px;
         .anticon {
            margin-right: 4px;
         }
      }
   }
   .column.right-column {
      margin-top: 30px;
   }
   .copyright {
      width: 100%;
      color: white;
      opacity: .8;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #12406b;
      word-wrap: break-word;
      > a {
         color: white;
      }
      > a:hover {
         color: #5eabbc;
      }
      .small-logo {
         width: 30px;
         height: auto;
      }
   }
}
@media (min-width:768px) {
   .column {
      float: left;
      width: 50%;
   }
   .page-footer {
      .container:not(.copyright) {
         display: flex;
         column-gap: 40px;
         padding: 20px 50px;
      }
   }

}

@media (min-width: 1024px) {
   .page-footer {
      .container:not(.copyright) {
         padding: 20px 100px;
         column-gap: 50px;
         display: flex;
      }
   }
}
@media (min-width: 1224px) {
   .page-footer {
      .container:not(.copyright) {
         padding: 20px 300px;
         column-gap: 50px;
         display: flex;
      }
   }
}