.layout-container.post-detail-layout {
    background-color: white;
    .left-content.list-tools {

    }
    .main-content.post-detail {
        padding-right: 10px;
        align-items: baseline;
        .post-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            padding: 10px;
            align-items: center;
            position: relative;
            float: left;
            .content-left {
                display: flex;
                align-items: center;
                .info-content {
                    margin-left: 10px;
                    .info-content-top {
                        .username {
                            font-weight: bold;
                        }
                        .linking-word {
                            color: #99A3AD;
                            margin: 0 5px;
                        }
                    }
                    .info-content-bottom {
                        color: #99A3AD;
                        font-size: 12px;
                        display: flex;
                        column-gap: 20px;
                    }
                }
            }
            
        }
        .post-content {
            font-size: 22px;
            font-family: 'Times New Roman', Times, serif;
            .post-title {
                margin-top: 30px;
                font-size: 35px;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
            }
            .content {
                div:not(:first-child) {
                    padding: 6px 0;
                }
                figure {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 10px;
                    max-width: 100%;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                a {
                    color: #1890ff;
                }
            }
            .new-post-form {
                padding: 20px;
            }
        }
        .comment-section {
            width: 100%;
        }
    }
    .right-content {
        width: 10%;
    }
}
@media(min-width: 1024px) {
    .layout-container {
        .main-content.post-detail {
            align-items: baseline;
        }
    }
}