.user-detail {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    .user-profile {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24), 0px 0px 10px rgba(0, 0, 0, 0.12);
        margin-bottom: 20px;
        .user-background {
            width: 100%;
            max-height: 300px;
            overflow: hidden;
        }
        .user-info-slot {
            background-color: white;
            padding: 10px;
            display: flex;
            column-gap: 20px;
            .slot-content {
                justify-content: center;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                .slot-content-top {
                    font-size: 16px;
                    font-weight: bold;
                    .username {
                        color: #5eabbc;
                        font-weight: normal;
                    }
                }
                .slot-content-middle {
                    font-size: 15px;
                }
                .slot-content-bottom {
                    display: flex;
                    column-gap: 10px;
                    color: #999;
                }
            }
        }
    }
    .list-post {
        flex: 1;
    }
}