.header {
    z-index: 999;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24), 0px 0px 16px rgba(0, 0, 0, 0.12);
    .container {
        display: flex;
        width: 100%;
        .logo {
            height: 100px;
            width: auto;
        }
        .header-side-bar {
            display: none;
        }
        .header-content {
            flex: 1;
            .header-content-top {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                column-gap: 10px;
                row-gap: 10px;
                align-items: center;
                justify-content: center;
                padding-bottom: 10px;
                .header-search {
                    min-width: 150px;
                    flex: 1;
                    .ant-input-wrapper {
                        .ant-input-affix-wrapper {
                            border-radius: 50px 0 0 50px;
                            height: 40px;
                            outline: none;
                        }
                        .ant-input-affix-wrapper.ant-input-affix-wrapper-focused {
                            border-color: #ccc;
                        }
                        .ant-input-group-addon {
                            button {
                                height: 40px;
                                border-radius: 0 50px 50px 0;
                                width: 50px;
                            }
                        }
                    }
                }
                .header-content-top-right {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 10px;
                    align-items: center;
                    .anticon.anticon-bell {
                        color: #999;
                        font-size: 30px;
                    }
                    .anticon.anticon-bell:hover {
                        color: #2C3E50;
                    }
                    .user-info {
                        position: relative;
                        display: flex;
                        column-gap: 7px;
                        .username {
                            display: flex;
                            align-items: center;
                            column-gap: 5px;
                            cursor: pointer;
                            .anticon {
                                color: #999;
                                font-size: 12px;
                            }
                        }
                        .username:hover {
                            text-decoration: underline;
                        }
                    }
                }
                
            }
            .header-content-bottom {
                margin-left: 10px;
                display: flex;
                align-items: center;
                column-gap: 20px;
                a:hover {
                    color: #5eabbc;
                }
                .ant-dropdown-trigger {
                    padding: 0;
                }
            } 
        }    
    }
    
}

@media(max-width: 768px) {
    .header {
        padding: 5px;
        .container {
            .logo {
                display: none;
            }
            .header-side-bar {
                display: block;
                .base-button {
                    border-radius: 0;
                    padding: 2px 10px;
                    margin-right: 5px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    .anticon {
                        font-size: 25px;
                    }
                }
                >.ant-menu-inline-collapsed {
                    display: none;
                }
                > .ant-menu {
                    position: absolute;
                    z-index: 500;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24), 0px 0px 16px rgba(0, 0, 0, 0.12);
                }
                .ant-menu.ant-menu-inline {
                    width: 200px;
                }
            }
            .header-content{
                margin-bottom: 0;
                .header-content-top {
                    padding-bottom: 0;
                    margin-top: 0;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    .header-content-top-right {
                        .user-info {
                            display: none;
                        }
                    }
                    .link-new-post {
                        display: none;
                    }
                    .anticon.anticon-bell {
                        font-size: 25px;
                    }

                    .ant-input-wrapper {
                        .ant-input-affix-wrapper {
                            height: 30px;
                        }
                        .ant-input-group-addon {
                            button {
                                height: 30px;
                            }
                        }
                    }
                }
                .header-content-bottom {
                    display: none;
                }
            }
        }
    }
}
@media(min-width: 1024px) {
    .header{
        padding: 0;
        .container {
            width: 1000px;
        }
    }
}