.app-wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .web-content {
        flex: 1;
        padding: 10px;
        position: relative;
        .layout-container {
            .left-content, .right-content {
                display: none;
            }
        }
    }
}

@media(min-width: 768px) {
    .app-wrap {
        .web-content {
            padding: 10px 50px;
        }
    }
}
@media(min-width: 1024px) {
    .app-wrap {
        .web-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .layout-container {
                width: 1000px;
                .left-content, .right-content {
                    display: block;
                } 
                .main-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}
